{% extends "base.html" %}
{% block body %}
{%load crispy_forms_tags%}
<div class="container">


<h2><a href="/home/{{post.id}}">{{ post.title }}</a></h2>
<h5> created by {{post.user}} on {{ post.created }}</h5>

<h4><br><br>
	{{ post.post|safe|linebreaks}}
</div>
<br><br></h4>

{%endblock%}
{%block login%}
{%endblock%}
{%block register%}
{%endblock%}
{%block edit%}
<div class="container">

<h5>last edited at {{ post.updated }}</h5>
{%if post.user in request.user.username %}
<br><h4><a class="submit" href={%url 'home:edit' post.id%}>Edit Post</a></h4></div>
<div class="container">
<br><h4><a class="submit" href={%url 'home:delete' post.id%}>Delete Post</a></h4></div>

<div class="container">
{%endif%}

<br><h4><a class="link" href={%url 'home:view'%}>Back</a></h4>
<br><h4><a class="link" href={%url 'home:comment' post.id%}>Comment</a></h4>
<h3>Comments:</h3>
<div class="container">


{% for comments in post.comments.all  %}
    <div class="comment" style="overflow: hidden;">
        <div class="date">{{comments.created_date }} </div>
        <strong>{{ comments.author }}:</strong>
        <p>{{ comments.text|linebreaks }}</p><br>


</div>
		{% empty %}
		    <p>No comments here yet :(</p>

{% endfor %}
{%endblock%}